
@{
    ViewBag.Title = "Index";
}

<br />
<h1>Stock related reports</h1>
<input type="radio" name="nm" id="r1" value="1" class="radio radio-inline"> Warehouse Wise</>
<input type="radio" name="nm" id="r2" value="2" class="radio radio-inline"> Stock As On Date </>
<input type="radio" name="nm" id="r3" value="3" class="radio radio-inline"> Product Transaction Details </>

<h2>Please choose report parameter from Below:</h2>
<div class="panel-body">
    <div class="col-md-6">
        <div>
            <label>Enter Begining Date:</label>
            @Html.TextBox("BeginingDate", DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = "form-control date-picker" })
            <label>Enter Ending Date:</label>
            @Html.TextBox("EndingDate", DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = "form-control date-picker" })

            <br />
            <input type="button" id="showReport" value="Preview" class="form-control btn-primary" />
        </div>
    </div>
    <div>
        <label>Select Warehouse:</label>
        @Html.DropDownList("Warehouse", null, "All", new { @class = "form-control" })
        <label>Select Transaction Type:</label>
        @Html.DropDownList("TrType", null, "All", new { @class = "form-control" })
    </div>
</div>
<br />
<div id="tabledata"></div>
<script>
    $('.date-picker').datepicker({
        dateFormat: "dd/M/yy",
        changeMonth: true,
        changeYear: true,
        yearRange: "-0:+0"
    });
    $("#BeginingDate").prop('disabled', true);
    $("#EndingDate").prop('disabled', true);
    $("#TrType").prop('disabled', true);
    $(document).ready(function () {

        $("#r1").change(function () {
            $("#BeginingDate").prop('disabled', true);
            $("#EndingDate").prop('disabled', true);
            $("#TrType").prop('disabled', true);

        });
        $("#r2").change(function () {
            $("#BeginingDate").prop('disabled', false);
            $("#EndingDate").prop('disabled', true);
            $("#TrType").prop('disabled', true);

        });
        $("#r3").change(function () {
            $("#BeginingDate").prop('disabled', false);
            $("#EndingDate").prop('disabled', false);
            $("#TrType").prop('disabled', false);
        });

        $('#showReport').click(function () {
            var wValue = $("#Warehouse").val();
            if (wValue == "") {
                wValue = 0;
            } else {
                wValue;
            }
            var radioValue = $('input:radio[name=nm]:checked').val();
            if (radioValue == 1) {
                $.ajax({
                    url: "@Url.Action("ProductBalanceWarehouseWise", "StockReport")",
                    dataType: "HTML",
                    type: "POST",
                    data: { wId: $("#Warehouse").val() },
                    cache: false,
                    async: true,
                    success: function(data) {
                        $("#tabledata").html(data);
                    }
                });
            } else if (radioValue == 2) {
                $.ajax({
                    url: "@Url.Action("StockAsOnDate", "StockReport")",
                    dataType: "HTML",
                    type: "POST",
                    data: { trDate: $("#BeginingDate").val(), wId: wValue },
                    cache: false,
                    async: true,
                    success: function(data) {
                        $("#tabledata").html(data);
                    }
                });
            }
        else {
                $.ajax({
                    url: "@Url.Action("ProductTransactionRpt", "StockReport")",
                    dataType: "HTML",
                type: "POST",
                dataType: "HTML",
                type: "POST",
                data: { wId: $("#Warehouse").val(), bDate: $("#BeginingDate").val(), eDate: $("#EndingDate").val(), Tr: $("#TrType").val() },
                cache: false,
                async: true,
                success: function (data) {
                    $("#tabledata").html(data);
                }
                });
        }
        })
    })
</script>

