@model MyPepsi.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Transcom Beverage Limited";
}
<h2> @ViewBag.Title. </h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("UserLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken() <h4> ~Online Primary Sales Solution~  </h4> <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserID, new
               { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserID, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                    @Html.LabelFor(m => m.UserName, new
               { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit"
                               value="Login"
                               class="btn btn-default" />
                    </div>


                </div>
            }
        </section>
    </div>
</div>

@section Scripts
        {
    @Scripts.Render("~/bundles/jqueryval")
}  

@*<script>
    debugger;
   // alert('Java');
    //console.log(data);
    $('#UserID').blur(function () {
        $.ajax({
            url: "@Url.Action("getUserName", "Account")",
            data: { userid: $('#UserID').val() },
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log(data);
                  $("Userdd").val(data);

            },
            error: function () {
                 alert("Failed! ");
            }
        });
    });

</script>*@
<style>
    #loginForm {
        background-color: #87ceeb; 
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;        
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0px 2px 2px rgba(241,209,200, 0.6);
        -webkit-box-shadow: 0px 2px 2px rgba(241,209,200, 0.6);
        box-shadow: 0px 2px 2px rgba(241,209,200, 0.6);
    }
</style>